/*
* 
* Styling for general elements goes in this file.
*
*
*
*
*/


/**********************************************
*
* General divs and elements
*
**********************************************/
html {
	width: 100%;
	min-height: 100%;
}

body{
	overflow-y: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*font-family: 'Quattrocento';*/
	font-family: 'Roboto';
}
#container{
	background-color: #fffffa;
	/*background-color: red;*/
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#content {
	padding: 20px 40px;
}
.row{
	/* padding: 0 20px; */
}
label {
	margin-bottom: 0px;
}
h1#title {
	padding: 20px;
}
/**********************************************
* Styling for dropdowns
*
**********************************************/
.dropdown-menu.show {
	background-color: #888;
}

/**********************************************
* Styling for navigation bar
*
**********************************************/
nav#navbar{
	list-style: none;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid black;
	height: 30px;
	background-color: #fff;
}
#navbar {
	display: flex;
	flex-direction: row;
}
#navbar .btn{

}
.navbar-company-name {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	text-align: center;
	/*align-self: center;*/
	width: 20%;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	font-size: 14px;
}
.navbar-links {
	display: flex;
	flex-direction: row;
	width: 80%;
	align-items: flex-end;
}
.navbar {
	padding: 0;
}
nav .navbar-links a, nav .navbar-links div, nav .navbar-links button{
	flex: 1 1 0;
	width: 100%;
	border: none;
}
/**********************************************/



/**********************************************
* Styling for calendar
*
**********************************************/
span.show-calendar {
	position: relative;
}
.calendar {
	display: block;
	/*position: relative;*/
	/*position: absolute;*/
	/*top: 100px;*/
	/* top: -200px;
	left: 450px; */
	z-index: 9999;
	width: 200px;
	margin-left: 66%;
	font-size: 9pt;
	/*margin-bottom: 10px;*/
}

.calendar-month {
	min-width: 100%;
	text-align: center;

}
div.calendar tr {
	display: flex;
}
.calendar-widget td, .calendar-widget th{ 
	font-size: 8pt;
	width: 20px;
	height: 20px;
	flex: 1 1 0;
}
td span.fake-button.calendar-date.btn-raw{
	border: 1px solid black;
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
.calendar-widget .date-today {
	background-color: #999;
}
caption {
	caption-side: top;
	color: black;
	display: flex;
	/*display: block;*/
	flex-direction: row;

	/*display: inline-block;*/
	justify-content: space-between;
	width: 100%;
	/*font-size: ;*/
	/*text-align: justify;*/
}
caption span {
	flex: 1 1 0;
	text-align: center;
}
.calendar-back-button, .calendar-forward-button {
	/*width: 50px;*/
}
table.calendar-widget td {
	padding: 0;
	margin-bottom: -1px;
	margin-right: -1px;
}
/**********************************************/


.form-row {
	margin: 0;
	padding: 0;
	width: 100%;
}
.form-row .col-md-12 {
	justify-content: center;
}
.form-row div {
	display: flex;
	/*justify-content: center;*/
}
.form-row div.col-md-6 input {
	width: 100%;
}
.form-row div.col-md-6 {
	display: flex;
	align-items: center;

}
.form-row div.col-md-6 label {
	width: 80%;
	text-align: right;
}
div.input-group{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*height: 100%;*/
	height: 30px;
	margin: 0;
	align-items: center;
	/*width: 100%;*/
}
div.input-group input.with-button {
	/*min-width: 82%;*/
}
div.input-group .input-group-append {
}
div.input-group .text-button {
	border-radius: 0px;
	/*width: 100%;*/
	display: flex;
	align-items: center;
}
.text-button {
}

a.fake-button, span.fake-button {
	text-decoration: none;
	height: 30px;
	cursor: pointer;
	/*min-height: 0.5em;
	min-width: 0.5em;*/
}
.fake-button-a {
	color: #046fff;

}
a.fake-button:hover, span.fake-button:hover {
	color: #999;
}

button.btn-raw {
 	border: none;
	background: none !important;
    color: inherit;
    border: none;
    padding: 0px! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    position: relative;
}




