/*
* 
* Styling for general elements goes in this file.
*
*
*
*
*/


/**********************************************
*
* General divs and elements
*
**********************************************/
html {
	width: 100%;
	min-height: 100%;
}

body{
	overflow-y: auto;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*font-family: 'Quattrocento';*/
	font-family: 'Roboto';
}
#container{
	background-color: #fffffa;
	/*background-color: red;*/
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#content {
	padding: 20px;
}
.row{
	/* padding: 0 20px; */
}
label {
	margin-bottom: 0px;
}


/**********************************************
* Styling for navigation bar
*
**********************************************/
nav#navbar{
	list-style: none;
	flex-direction: row;
	width: 80%;
	margin-left: 20%;
}
#navbar {
	display: flex;
}
#navbar .btn{

}
.navbar {
	padding: 0;
}
nav a, nav div, nav button{
	flex: 1 1 0;
	width: 100%;
}
/**********************************************/



/**********************************************
* Styling for calendar
*
**********************************************/
.calendar {
	/*display: block;*/
	/*position: relative;*/
	position: absolute;
	/*top: 100px;*/
	/* top: -200px;
	left: 450px; */
	z-index: 9999;
	width: 200px;
}
.calendar-month {
	min-width: 100%;
	text-align: center;

}
.calendar-widget td { 
	font-size: 8pt;
	width: 20px;
	height: 20px;
}
td span.fake-button.calendar-date.btn-raw{
	width: 100%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
.calendar-widget .date-today {
	background-color: #999;
}
caption {
	caption-side: top;
	color: black;
}
/**********************************************/


.form-row {
	margin: 0;
	padding: 0;
	width: 100%;
}
.form-row div {
	display: flex;
	justify-content: center;
}
.form-row div.col-md-6 input {
	width: 100%;
}
.form-row div.col-md-6 {
	display: flex;
	align-items: center;

}
.form-row div.col-md-6 label {
}
div.input-group{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*height: 100%;*/
	height: 30px;
	margin: 0;
	align-items: center;
	/*width: 100%;*/
}
div.input-group input.with-button {
	/*min-width: 82%;*/
}
div.input-group .input-group-append {
}
div.input-group .text-button {
	border-radius: 0px;
	/*width: 100%;*/
	display: flex;
	align-items: center;
}
.text-button {
}

a.fake-button, span.fake-button {
	text-decoration: none;
	height: 30px;
	cursor: pointer;
	/*min-height: 0.5em;
	min-width: 0.5em;*/
}
.fake-button-a {
	color: #046fff;

}
a.fake-button:hover, span.fake-button:hover {
	color: #999;
}

button.btn-raw {
 	border: none;
	background: none !important;
    color: inherit;
    border: none;
    padding: 0px! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    position: relative;
}




