#container{
	min-width: 800px;
	min-height: 400px;
}
.page-container{
	display: flex;
	flex-direction: row;
	width: 100%;
}
#ledger-container{
	width: 80%;
	height: 800px;
}
.ledger-body{
	min-height: 10em;
	max-height: 25em;
	overflow-y: scroll;
}
#menu-container{
	width: 20%;
	border: 5px solid black;
	height: 100%;
	position: fixed;
	left: 80%;
	top: 0;
}
.menu-row{
	display: flex;
	flex-direction: row;
}
.menu-row-component{

}
/* For cells */
.desc-cell{
	flex-grow: 5;
	flex-shrink: 2;
}
.number-cell{
	width: 2em;
}
.tx{
	border: 2px solid blue;
}
.tx-row, .menu-row{
	display: flex;
	flex-direction: row;
}
.cell{
	/*border: 1px solid black;*/
}
/* To resize the box to be the same size as input so flex-grow makes them same size*/
.header-cell{
	width: 127px;
	text-align: center;
}
.header-date-cell, .date-cell{
	flex-grow: 1;
	width: 80px;
}

.transaction-cell, .header-transaction-cell{
	flex-grow: 10;
}
.debit-cell, .credit-cell{
	flex-grow: 1;
	flex-shrink: 2;
	width: 80px;
	text-align: right;
}

.pagination{
	list-style: none;
	display: flex;
	flex-direction: row;
}
.pagination li{
	border: 1px solid black;
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
}
/* Popup Menu */
.popup-menu{
	height: 80%;
	width: 80%;
	position: fixed;
	left: 10%;
	top: 10%;
	border: 2px solid black;
	//border-radius: 30px;
	z-index: 9999;
	background-color: #999;
}
#popup-menu-container{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.popup-menu-header{
	display: flex;
	align-items: center;
	height: 10%;
	border-bottom: 1px;
	border-bottom-style: solid;
}
.popup-menu-body{
	display: flex;
	flex-direction: row;
	height: 80%;
}
.popup-menu-footer{
	display: flex;
	border-top: 1px;
	border-top-style: solid;
	height: 10%;
	text-align: right;
	align-items: center;
}
.feedback-div{
	width: 100%;
	border: 1px solid black;
	height: 10%;
}
.unfocused{
	filter: blur(4px);
}
.account-name-list{
	border: 1px solid black;
	overflow-y: scroll;
	width: 33%;
}
.add-account-panel{
	border: 1px solid black;
	overflow-y: scroll;
	width: 33%;
}

/*.btn-popup-close{
	width: 100px;
	height: 40px;
}*/
.ledger-bar{
	border: 1px solid black;
	margin: 10px 0 0 0;
	padding: 0;
}
.ledger-bar button{
	height: 30px;
	width: 120px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {/*--- Mobile portrait ---*/

}
@media only screen and (min-width : 480px) and (max-width : 595px) {/*--- Mobile landscape ---*/

}
@media only screen and (min-width : 595px) and (max-width : 690px) {/*--- Small tablet portrait ---*/

}
@media only screen and (min-width : 690px) and (max-width : 800px) {/*--- Tablet portrait ---*/

}
@media only screen and (min-width : 800px) and (max-width : 1024px) {/*--- Small tablet landscape ---*/

}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {/*--- Tablet landscape --- */

}